@import "./data/theme.scss";
@import "./data/breakpoint.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style-type: none;
    outline: none;
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
   //background: $primary-button;
    border-radius: 10px;
}

/**::-webkit-scrollbar-thumb:hover {
    background: $accent;
}*/

html {
    scroll-behavior: smooth;
}